<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand">Project Title</a>
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
      <ul class="nav navbar-nav">
        <li><a routerLink="/page1" routerLinkActive="active" class="item">
        Page 1
      </a>
        </li>
        <li><a routerLink="/page2" routerLinkActive="active" class="item">
        Page 2
      </a></li>
      </ul>
    </div>
  </div>
</nav>